<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League | 2021/2022</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="grid-container">
        <%- include('./partials/navbar') %>
        <div class="main-content-container">
            <table>         
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Games Played</th>
                    <th>Goals Scored</th>
                    <th>Goals Conceeded</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                </tr>
                <% for (const element of teams) { %>
                    <tr>
                        <td><%= element.position %></td>
                        <td><%= element.team %></td>
                        <td><%= element.gamesPlayed %></td>
                        <td><%= element.goalsScored %></td>
                        <td><%= element.goalsConceeded %></td>
                        <td><%= element.goalDifference %></td>
                        <td><%= element.points %></td>
                    </tr>
                <%  } %>
                
            </table>
        </div>     
        <%- include('./partials/footer') %>
    </div>
    
</body>
</html>